{% extends "base.html.twig" %}

{% block title %}
Activation Complete
{% endblock %}
{% block content %}
<h1>Account activated</h1>
<p>Your account is now activated. Get some GAINZ!</p>
{% endblock %}