{% extends "base.html.twig" %}
{% block content %}
<h1>Login</h1>
	<form method="POST">
		<label>
			Email:
			<input type="email" name="email" value="<?= (isset($email)) ? htmlspecialchars($email) : "" ?>" />
		</label>
		<label>
			Passwort:
			<input type="password" name="password" />
		</label>
		<input type="submit" name="login" value="Login" />		
	<div>
		<a href="/register">Register</a> <a href="/forgotpassword">Forgot
			Password</a>
		<div>
			<p class="errormessage">
				{{ errorMessage }}
			</p>
		</div>
	</div>
</form>
{% endblock %}